@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <form action="login" method="post">
    <label for="username">نام کاربری</label>
    <input type="text" name="username">
        <label for="password">نام پسورد</label>
    <input type="text" name="password">
    <input type="submit" value="ورود">
 </form>
</body>
</html>